<html>
<head><title>AHORCADO</title></head>
<body>
<h1>Bienvenido al Juego Ahorcado <%= @@nombre %></h1> 
<div>
	<img src="/images/i<%= @n_falla %>.png" alt="Ahorcado" height="180" width="160">
</div>
<div>
	<p><%= @palabra %></p>
</div>

<div>
	<form action="/tablero">
		<input name="letra" value= "<%= @@letra %>"/>
		<input type="submit" value="Adivinar"/>
	</form>
</div>

<div>
	<p><%= @mensaje %></p>
</div>
</body>
